body {
  background-color: black;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(125, 125, 158));
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-circle {
  width: 200px;
  height: 200px;
  background-color: rgb(56, 179, 216);
}

.music-background {
  height: 90%;
  width: 70%;
  margin-bottom: 60px;
  background: transparent;
}

#file-upload, #cancel {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive styles for different devices */
@media screen and (max-width: 1024px) {
  .music-background {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .custom-circle {
    width: 150px;
    height: 150px;
  }

  .music-background {
    width: 100%;
  }

  .App-header {
    font-size: calc(10px + 1vmin);
  }
}

@media screen and (max-width: 480px) {
  .custom-circle {
    width: 100px;
    height: 100px;
  }

  .App-header {
    font-size: calc(8px + 1vmin);
  }
}
